# 廖雪峰 Python 教程

## 3.高级特性

### 3.4.生成器

杨辉三角定义如下

``` shell
            1
           / \
          1   1
         / \ / \
        1   2   1
       / \ / \ / \
      1   3   3   1
     / \ / \ / \ / \
    1   4   6   4   1
   / \ / \ / \ / \ / \
  1   5   10  10  5   1
```

In [1]:
def triangles():
    n = 0
    a = [1]
    b = [1, 1]

    while n >= 0:
        if n == 0:
            yield a
            n += 1
        elif n == 1:
            yield b
            n += 1
        else:
            c = [1] * (n + 1)
            for i in range(1, n):
                c[i] = b[i] + b[i - 1]  # 当前行与上一行的关系
            yield c
            b = c  #  当前行变成下一轮的上一行
            n += 1

In [8]:
n = 0
results = []
for t in triangles():
    results.append(t)
    n = n + 1
    if n == 10:
        break

for t in results:
    print(t)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

## 4.函数式编程

### 4.1.高阶函数

#### 4.1.1. map/reduce

1. 利用 `map()` 函数，把用户输入的不规范的英文名字，变为首字母大写，其他小写的规范名字。输入：`['adam', 'LISA', 'barT']`，输出：`['Adam', 'Lisa', 'Bart']`：

In [45]:
def normalize(name):
    name = name.lower()
    name = name[0].upper() + name[1:]
    
    return name

In [46]:


# 测试:
L1 = ['adam', 'LISA', 'barT']
L2 = list(map(normalize, L1))
print(L2)

['Adam', 'Lisa', 'Bart']

2. Python 提供的 `sum()` 函数可以接受一个 list 并求和，请编写一个 `prod()` 函数，可以接受一个 list 并利用 `reduce()` 求积：

In [47]:
from functools import reduce

def prod(L):
    fn = lambda x, y: x * y
    return reduce(fn, L)

In [48]:
print('3 * 5 * 7 * 9 =', prod([3, 5, 7, 9]))
if prod([3, 5, 7, 9]) == 945:
    print('测试成功!')
else:
    print('测试失败!')

3 * 5 * 7 * 9 = 945
测试成功!

3. 利用 `map` 和 `reduce` 编写一个 `str2float` 函数，把字符串 `'123.456'` 转换成浮点数 `123.456` ：

In [49]:
from functools import reduce


def str2float(s):
    s = s.split('.')
    s_int = s[0]  # 整数部分
    s_float = s[-1]  # 小数部分
    s_float = s_float[-1::-1]  # 小数部分翻转

    f_int = lambda x, y: 10 * x + y  # 整数计算规则
    f_float = lambda x, y: 0.1 * x + y  # 小数部分计算规则
    char2num = lambda s: DIGITS[s]

    m = reduce(f_int, map(char2num, s_int ))
    n = reduce(f_float, map(char2num, s_float))

    return m + 0.1 * n

In [50]:
DIGITS = {'0': 0, '1': 1, '2': 2, '3': 3, '4': 4, 
          '5': 5, '6': 6, '7': 7, '8': 8, '9': 9}

print('str2float(\'123.456\') =', str2float('123.456'))
if abs(str2float('123.456') - 123.456) < 0.00001:
    print('测试成功!')
else:
    print('测试失败!')

str2float('123.456') = 123.456
测试成功!

#### 4.1.2.filter

回数是指从左向右读和从右向左读都是一样的数，例如 `12321`，`909`。请利用`filter()` 筛选出回数：

In [51]:
def is_palindrome(n):
    s = str(n)
    index_middle = int(len(s) / 2)
    flag = True
    
    for i in range(index_middle):
        if s[i] != s[-1 - i]:
            flag = False
            break
    
    return flag

In [52]:
# 测试:
output = filter(is_palindrome, range(1, 1000))
print('1~1000:', list(output))
if list(filter(is_palindrome, range(1, 200))) == [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191]:
    print('测试成功!')
else:
    print('测试失败!')

1~1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]
测试成功!

#### 4.1.3.sorted

`L = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('Lisa', 88)]`

用 `sorted()` 对上述列表分别按照名字排序

In [1]:
def by_name(t):
    return str.lower(t[0])


L = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('Lisa', 88)]
L2 = sorted(L, key=by_name)
print(L2)

[('Adam', 92), ('Bart', 66), ('Bob', 75), ('Lisa', 88)]

再按照分数降序排序

In [5]:
def by_score(t):
    return - t[-1]


L = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('Lisa', 88)]
L2 = sorted(L, key=by_score)
print(L2)

[('Adam', 92), ('Lisa', 88), ('Bob', 75), ('Bart', 66)]

### 4.2.返回函数